/* GLOBAL */
:root {
  --sans-serif: 'Fira Sans', sans-serif;
  --orange: #f36f1e;
  --med-grey: #32333a;
  --dark-grey: #26262c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--sans-serif);
  color: #FFF;
  background-color: var(--med-grey);
}

main {
  max-width: 80%;
  margin: 30px auto 20px auto;
  padding: 30px 25px;
  text-align: center;
  background-color: var(--dark-grey);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main h1 {
  font-size: 1.5rem;
}

/* FORM */
form {
  margin: 20px auto;
  max-width: 95%;
}

form label {
  display: none;
}

form input {
  width: 100%;
  margin-bottom: 15px;
  background: none;
  border: none;
  border-bottom: 3px solid var(--orange);
  border-radius: 0;
  padding: 10px 5px 0 5px;
  color: #FFF;
  font-family: var(--sans-serif);
  font-size: 1rem;
}

form input:focus {
  outline: none;
  border-bottom: 3px solid #FFF;
}

form button {
  background-color: var(--orange);
  color: var(--dark-grey);
  border: none;
  margin-top: 20px; 
  padding: 10px 20px;
  width: 100%;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 8px;
}

/* CHARACTER CARDS */
section {
  max-width: 90%;
  margin: 0 auto 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.character-card {
  padding: 20px;
  background-color: var(--dark-grey);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.character-card h2, .character-card h3 {
  text-align: center;
  margin-bottom: 15px;
}

.character-card p {
  color: var(--orange);
  margin-bottom: 15px;
  font-weight: 700;
}

.character-card p span {
  color: #fff;
  font-weight: 400;
}

.character-card .icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: var(--orange);
}

.character-card .edit-btn {
  margin: 0 15px 0 15px;
}

.character-card i:hover,
.character-card i:active {
  color: #FFF;
  cursor: pointer;
}

/* edit states */
span[contenteditable] {
  background-color: var(--med-grey);
  border: 2px solid var(--orange);
  padding: 2px 4px;
  border-radius: 5px;
  margin-left: 3px;
}


/* MEDIA QUERIES */
/* tablet & mobile styles */
@media only screen and (max-width: 780px) {
  main {
    max-width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}